@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-content {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table-content th, .table-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-content th {
    background-color: #f2f2f2;
}
